
body{
	background-color: #f4f0f7;
	font-family: 'Varela Round', sans-serif; 
	line-height: 2;
	color: #313131;
}
/*Containers*/
.container-fluid{
	padding: 5% 8%;
}
/*Headings*/
.headings
{	
	max-width: 90%;
	font-size: 2rem;
}
/*Heading Section*/
.main-header{
		max-width: 40%;
		margin: auto;
		text-align: center;
	}
.first-heading{
	font-family: 'Karla', sans-serif;
	font-weight: 100;
}
/*Card Section*/	
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  	margin-bottom: 30px;
}
.card-header {
	border: none;
	background-color: #fff;

}
.card-footer{
	text-align: right;
	border: none;
	background-color: #fff;
}
.card1{
	border-top: 3px solid #04f7fb;
}
.card2{
	border-top: 3px solid #b7031a;
}
.card3{
	border-top: 3px solid #ed7901;
}
.card4{

	border-top: 3px solid #012374;
}
/*Mobile Responsiveness*/
@media (max-width: 1024px){
	.main-header{
		max-width: 90%;
		
	}
	.headings{
		max-width: 100%;
	}

}
	
